# $Id$
# {{ hostvars[inventory_hostname].ansible_distribution }} {{ hostvars[inventory_hostname].ansible_distribution_version }}
# {{ ansible_managed }}
# Manual customization of this file is not recommended.

Port {{ ansible_sshd_port }}
LogLevel {{ ansible_sshd_loglevel }}
ListenAddress {{ ansible_sshd_listenaddress }}
SyslogFacility AUTH
PermitRootLogin without-password
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication no
ChallengeResponseAuthentication no
GSSAPIAuthentication no
GSSAPICleanupCredentials yes
UsePAM yes
UseDNS no
PrintMotd no
X11Forwarding yes
X11DisplayOffset 10
Subsystem sftp {{ ansible_sshd_sftp }}
AcceptEnv LANG LC_*
AllowUsers{% if addusers_exts is not none %}{% for x in addusers_exts %}{% if 'hosts' in x %}{% for h in x.hosts %} {{ x.username }}@{{ h }}{% endfor %}{% else %} {{ x.username }}{% endif %}{% endfor %}{% endif %}{% for x in addusers %}{% if 'hosts' in x %}{% for h in x.hosts %} {{ x.username }}@{{ h }}{% endfor %}{% else %} {{ x.username }}{% endif %}{% endfor %}
{{ ansible_sshd_ }}